/* Index.html CSS */

#musicPlayListDiv {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#musicHeader {
  padding: 16px;
  color: white;
  text-align: center;
}

#musicBody {
  padding: 0px 16px 48px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

audio {
  width: 275px;
  height: 50px;
  padding-bottom: 16px;
}

.addPadding {
  padding-right: 16px;
}
