#navigationPageMainDiv {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
}

ol {
  font-size: 15px;
  color: white;
  word-wrap: break-word;
  text-align: justify;
}
