#navigationPageMainDiv {
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

details {
  font-size: 15px;
  color: white;
  word-wrap: break-word;
  text-align: justify;
}

summary {
  font-size: 20px;
}
